version: '3.4'

services:
  # https://stackoverflow.com/a/66638930
  letsencrypt:
    image: certbot/certbot:latest
    environment:
      - TERM=xterm
    env_file:
      - .env
    command: sh -c "certbot certonly --standalone -d $$HOSTNAME --text --agree-tos --email $$EMAIL --server https://acme-v02.api.letsencrypt.org/directory --rsa-key-size 4096 --verbose --keep-until-expiring --preferred-challenges=http"
    entrypoint: ""
    volumes:
      - letsencrypt:/etc/letsencrypt
      - ./log:/var/log/letsencrypt
    network_mode: host
    # ports:
    #   - "80:80"

volumes:
  letsencrypt:
    external:
      name: letsencrypt_keys
